@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  /* ver menor  */
}

:root {
  --bg-primary: #f8f8f8;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-primary);
  padding: 20px;
}
