@import "tailwindcss";

:root {
  --bg-primary: #f8f8f8;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-primary);
  padding: 20px;
}
body {
  /* background-color: var(--bg-primary); */
}
